<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<div class="navbar-header">
			<%= link_to 'Sample App', root_path ,id: 'logo', class:'navbar-brand' %>
			<button class="navbar-toggle" data-toggle="collapse" data-target=".collapsednavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>	
			</div>
			<nav class='collapse navbar-collapse collapsednavbar'>
				<ul class="nav navbar-nav navbar-right ">
					<li> <%=link_to 'Home', root_path%> </li>
					<li> <%=link_to 'Help', help_path%> </li>
					<li> <%=link_to 'About', about_path%> </li>
					<li> <%=link_to 'sign up', '#'%> </li>					
					<li><%= link_to 'Contact', contact_path%></li>
				</ul>
			</nav>
		</div>	
</header>